body {
    border: 1px solid gray;
}

#list {
    width: 100%;
}

.main {
    display: flex;
    align-items: end;
    gap: 7em;
    margin-bottom: 30px;
    padding: 20px;
}


tr {
    background: rgb(150, 150, 150);
    height: 30px;
}

td {
    background: rgb(209, 209, 209);
}